<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@mocheattorneys.co.za">
        <network host="mail.izwi.co.za" port="587" userName="info@izwi.co.za" password="*" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="NetCashMerchantId" value="51845085769" />
    <add key="NetcashServiceKey" value="64d20fb0-07f1-4e07-916e-de635520698b" />
    <add key="NetcashUnknownKey" value="d893e353-fb8b-474e-a46e-8100256de61b" />
    <add key="UseSandbox" value="true"/>
    <add key="AdditionalFee" value="0.0000"/>
    <add key="AdditionalFeePercentage" value="true"/>
  </appSettings>
</configuration>