<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="mail.izwicloudtelecoms.co.za">
        <network host="smtp.izwicloudtelecoms.co.za" port="587" userName="accounts@izwicloudtelecoms.co.za" password="!@#Peoplepay123" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="NetCashMerchantId" value="51845085769" />
    <add key="NetcashServiceKey" value="64d20fb0-07f1-4e07-916e-de635520698b" />
    <add key="NetcashUnknownKey" value="d893e353-fb8b-474e-a46e-8100256de61b" />
    <add key="UseSandbox" value="true"/>
    <add key="AdditionalFee" value="0.0000"/>
    <add key="AdditionalFeePercentage" value="true"/>

    <add key="IzwiLogoUrl" value="http://izwicloudtelecoms.co.za/assets/images/logo/logo.png" />
    <add key="IzwiBannerUrl" value="http://www.izwi.co.za/images/banner.jpg" />
  </appSettings>
</configuration>